ion-card{
    height: 400px;
}

ion-img{
    height: 250px;;
}

ion-card:hover{
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

ion-row ion-label{
    font-weight: bold;
}

ion-card-title{
    color: var(--ion-color-danger);
    font-weight: bold;
}