ion-card{
    color: var( --ion-color-light);
    background: var( --ion-color-negro);
}

ion-item{
    height: 33px;
    font-size: 13px;
}

ion-item ion-label:hover, ion-item ion-label:hover{
    color: var(--ion-color-primary)
}

ion-item ion-icon{
    font-size: 13px;
    margin-right:5px;
}

ion-header-title{
    color: var( --ion-color-light);
}

ion-row ion-icon{
    font-size: 20px;
}

.container{
    padding-left: 8rem;
    padding-right: 8rem;
}

.redesSociales{
    width:100px;
    height: 150px;
}

ion-card-title{
    color: white;
}

@media only screen  
    and (min-device-width: 1025px) 
    and (-webkit-min-device-pixel-ratio: 1) 
{
    .container-footer{
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) 
{
    ion-card{
        padding: 1px;
        font-size: 12px;
    }
}