<ion-footer class="ion-no-border">
  <ion-toolbar color="negro" class="container-footer">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="3" size-md="6" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>SOBRE NOSOTROS</ion-card-title>
            </ion-card-header>
              <ion-label>Implementos es la red de repuestos insumos y accesorios para camiones, buses y remolques más grande del país.</ion-label>
            <ion-card-content>
              <ion-item color="negro">
                <ion-icon name="globe-outline"></ion-icon>
                <ion-label>Av. Gral Velásquez N° 10701, San Bernardo, Santiago.</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-label>ventas@implementos.cl</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-icon name="call-outline"></ion-icon>
                <ion-label>800 330 088</ion-label>
              </ion-item>
              <ion-item color=negro>
                <ion-icon name="time-outline"></ion-icon>
                <ion-label>Lu-Vie: 9:00 a 18:30 hrs. Sab: 9:00 a 13:00 hrs.</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2" size-md="6" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>INFORMACIÓN</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item color="negro">
                  <ion-label>Acerca de nosotros</ion-label>
              </ion-item>
              <ion-item color="negro">
                  <ion-label>Términos y Condicione</ion-label>
              </ion-item >
              <ion-item color="negro">
                <ion-label>Políticas de Privacidad</ion-label>
              </ion-item>
              <ion-item color="negro">
                  <ion-icon name="mail-outline"></ion-icon>
                <ion-label>Contacto</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2"size-md="6" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Holding EPYSA CHILE</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item color="negro">
                <ion-label>EPYSA Buses</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-label>EPYSA Equipos</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-label>Servi Bus</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-label>FITRANS</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-label>Mundo LCV</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-label>BUS MARKET</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-label>EPYSA Perú</ion-label>
              </ion-item>
              <ion-item color="negro">
                <ion-label>Mercobus</ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="2" size-md="6" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Mi Cuenta</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item color="negro">
                  <ion-label>Mi cuenta </ion-label>
                </ion-item>
                <ion-item color="negro">
                  <ion-label>Mis pedidos</ion-label>
                </ion-item>
                <ion-item color="negro">
                  <ion-label>Mis cotizaciones </ion-label>
                </ion-item>
                <ion-item color="negro">
                  <ion-label> Cerrar Sesión </ion-label>
                </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-lg="3" size-md="6" size-xs="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Noticias y Novedades</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-label>Visita nuestras redes sociales y mantente informados acerca de nuestras ofertas, noticias y eventos. </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-label>Síguenos</ion-label>
              </ion-row>
              <ion-row class="redesSociales">
                <ion-col size="4"><ion-icon name="logo-facebook"></ion-icon></ion-col>
                <ion-col size="4"><ion-icon name="logo-instagram"></ion-icon></ion-col>
                <ion-col size="4"><ion-icon name="logo-linkedin"></ion-icon></ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>
        </ion-col>   
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>